html {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

body {
    min-height:100vh;
    margin: 0;
    background-image: url("img.png");
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav2 {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 20px;
    font-size: 20px;
    margin-right: 50px;
}

.b {
    display: flex;
    gap: 20px;
}

.button {
    background-color: green;
    padding: 10px 20px;
    border-radius: 5px;
}

.b .button:nth-child(2) {
    background: orange;
}

.M {
    padding: 30px;
    margin-top: 150px;
}

.main h1 {
    font-size: 60px;
}

.small h3 {
    font-size: 16px;
    font-weight: 100;
}